.gpt3__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__feature-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 6rem;
}

.gpt3__feature-heading h1 {
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
}

.gpt3__feature-heading p{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--color-subtext);
    margin-top: 2rem;
}


.gpt3__feature-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gpt3__feature-container div{
    width: 100%;
}

@media screen and (max-width: 990px) {
    .gpt3__feature {
        flex-direction: column;
    }
    .gpt3__feature-heading p{
        margin-top: 1rem;
    }

}

@media screen and (max-width: 550px) {
    .gpt3__feature-heading h1{
        font-size: 28px;
        line-height: 38px;
    }
    .gpt3__feature-heading {
        margin-right: 2px;
    }
}

/* @media screen and (max-width: 490px) {
    .gpt3__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .gpt3__header p {
        font-size: 14px;
        list-style: 24px;
    }
} */